---
layout: default
title: Home
---

<div style=" background: url('/assets/img/hakan1.jpeg') no-repeat top fixed; padding: 150px  40px 150px; color: black;">

    <!--<img src="/assets/img/hakan1.jpeg" alt="hakan" style="float: right; position: absolute; z-index: -1;">-->

    <h1 style="color: black; font-size: 5rem;">Hiya!</h1>
    <h2 style="color: black;">I'm Hakan "Kimeiga" Alpay!</h2>
    <p style="color: black; font-weight: 400;">I'm a game, graphic, web, and language designer studying Computer Science and Engineering at UCLA!</p>
</div>

<h5 style="margin: 50px 0 20px;">Here are some of my projects!</h5>

{% for post in paginator.posts %}

<article>
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </a>
</article>

{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active" href="{{ site.github.url }}{{ paginator.next_page_path }}" class="next">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
    {% else %}
      <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
